@import 'mixins.scss';
@import 'variables.scss';


@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .smallscreen {
        .landscape-blocker { 
            @include centerer();
            z-index: 3;
            display: block !important;
            background: #222;
            color: white;
            height: 90%;
            width: 90%;
            border: 2px solid;
            text-align: center;
            h1 {

                @include centerer();
                display: block;
                height: 30px;
                width: 90%;
                margin-top: -50px;
            }

            p {
                @include centerer();
                display: block;
                height: 30px;
                width: 90%;
            }

        }
        .app-inner-wrapper {
            display: none;
        }
    }
}



.smallscreen {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;

    .landscape-blocker {
        display: none;
    }

    .search-container {
        @include centerer();
        margin-top: -250px;
        width: 300px;
        z-index: 2;

    }
    .hscard-container {

        height: 100%;
        width: 100%;
        position: relative;
        bottom: 59px;
        margin: 0 auto;

        .ptr--ptr {

            width: calc(100% + 20px);
            margin-left: -10px;
            background: rgba(0, 0, 0, .5);
            margin-top: 60px;
            .ptr--text, .ptr--icon {
                color: white;
                margin-bottom: 5px;
            }
        }
                   
            #content {
                min-height: 100%;
                width: 306px;
                z-index: 20;
                -webkit-backface-visibility: hidden;
                -webkit-perspective: 1000;
                box-sizing: border-box;
                margin-top:-40px;
                width: 100%;

                .hscard-image-box {

                    min-width: 286px;
                    min-height: 395px;

                }
            .hscard-meta-box {
                @include centerer();
                width:100%;
                .hscard-meta-container {
                    min-height: 300px;
                    padding: 15px 0 0 0;
                    margin: 0;
                    #hscard-meta-tab-nav {
                        .card-block {
                            padding: 5px 10px;
                        }
                    }

                    .card-block {
                        margin: 0;
                        padding:10px 5px 5px 5px;
                    }
                }
            }
            
        }
    }
    .under {
        flex: 1;
        background-color: rgba(0, 0, 0, .5);
        border-top: 1px solid #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: 2em;
        padding: .3em;
        display: flex;
        justify-content: space-around;
        color: #fff;
        a {
            color:#fff;
            :active {
                color: #999;
            }
        }
    }
    .image-load-svg {
        position: relative;
        top: -100px;
        left: 125px;
    }
}

.hscard-image-placeholder {

    margin-top: 48px !important;
    }


/* Flippant Styles */
.smallscreen {
    .hscard-container { 
        // width: 306px;
        // height: 415px;
        // position: relative;
        perspective: 800px;
    }

    #hscard {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform-style: preserve-3d;
        transition: transform .5s;
    }

    #hscard .hscard-front, #hscard .hscard-back {
        margin: 0;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
    }

    .hscard-image-box {
        @include centerer();
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
    }


    #hscard .hscard-front {

    }
    #hscard .hscard-back {
        -webkit-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
    }

    #hscard.flipped {
        -webkit-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
    }

    #hscard.flipped {
        -webkit-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
    }
} // .smallscreen